{% extends 'boilerplate.html' %}

{% block title %}Churches Helping Churches{% endblock %}

{% block analytics_id %}UA-XXXXX-X{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}

{% block header %}
<header>
	<div class="container">
		<h1 id="logo" class="ir"><a title="home" href="{% url home %}">Churches Helping Churches</a></h1>

		{% block navigation %}
		<nav>
			<h2 hidden>Main Navigation</h2>
			<ul>
			    <li>{% block nav-join %}<a href="{% url join %}">Join</a>{% endblock %}</li>
			    <li>{% block nav-what-we-do %}<a href="{% url what-we-do %}">What We Do</a>{% endblock %}</li>
			    <li>{% block nav-who-we-are %}<a href="{% url who-we-are %}">Who We Are</a>{% endblock %}</li>
			    <li>{% block nav-churches %}<a href="{% url churches %}">The Churches</a>{% endblock %}</li>
			    <li><a href="/blog">Blog</a></li> {# Blog taken care of by Wordpress #}
			    <li>{% block nav-give %}<a href="{% url give %}">Give</a>{% endblock %}</li>
			</ul>
		</hav>
		{% endblock %}

	</div>
</header>
{% endblock %}

{% block footer %}
<footer>
	<div class="container">
		<div class="column">
			<h4>Contact Us</h4>
			<div class="vcard">
				<span class="fn n">
					<span class="given-name"></span>
					<span class="additional-name"></span>
					<span class="family-name"></span>
				</span>
				<div class="org">Churches Helping Churches</div>
				<div class="adr">
					<div class="street-address">P.O. Box 6558</div>
					<span class="locality">Elgin</span>, 
					<span class="region">IL</span><br>
					<span class="postal-code">60121-6558</span>
				</div>
				<div class="tel">1-847-398-7024 ext. 3452</div>
				<a class="email" href="mailto:information@churcheshelpingchurches.com">information@churcheshelpingchurches.com</a>
			</div>	
		</div>
		<div class="column">
			<h4>Co-Founders</h4>
			<ul class="founders">
				<li><a title="James MacDonald" href="http://jamesmacdonald.com/" target="_blank">jamesmacdonald.com</a></li>
				<li><a title="Pastor Mark" href="http://pastormark.tv/" target="_blank">pastormark.tv</a></li>
			</ul>
		</div>
		<div class="column">
			<h4>Search</h4>
			<h4>Connect With Us</h4>
			<ul class="connect">
				<li><a title="facebook" href="https://www.facebook.com/ChurchesHelpingChurches" target="_blank" class="ir">Facebook</a></li>
				<li><a title="RSS" href="" target="_blank" class="ir">RSS Feed</a></li>
				<li><a title="Twitter" href="http://twitter.com/churcheshelping" target="_blank" class="ir">Twitter</a></li>
			</ul>
		</div>

		<p id="copyright">Copyright © 2011-2012 Churches Helping Churches. All rights reserved.</p>
	</div>
</footer>
{% endblock %}

{% block content %}{% endblock %}