{% extends 'base.html' %}
{% load static %}

{% block title %}Churches Helping Churches{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/home.css">
{% endblock %}

{% block content %}
{% get_static_prefix as STATIC_PREFIX %}
<section>
	<h2 hidden>Home</h2>

	<article class="clearfix">
		<div class="left">
			<h3>We rebuild churches.<br>We are churches.</h3>
			<a class="ir" href="{% url join %}">Will you join us?</a>
		</div>
		<div class="right">
			<iframe width="542" height="304" src="http://www.youtube.com/embed/URj1cAfHR0o?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</article>

	<aside class="featured-box shadow">
		<div class="constrain">
			<img src="{{STATIC_PREFIX}}img/home/20120320_blog.png">
			<h3>Manifest by Fire</h3>
			<p class="subtext">March 20, 2012</p>
			
			<div class="featured-content">
				<p>I’m accustomed to seeking visible fruit.  Results spur me on and energize me to keep doing more of the same.  But what if you don’t have that?  What if you don’t (or can’t see the fruit of your labor? …</p>
			</div>
		</div>
		<div class="featured-link-wrapper">
			<a class="btn-link" href="/blog/2012/03/20/manifest-by-fire/">Read more</a>
		</div>
	</aside>

	<aside class="featured-box shadow">
		<div class="constrain">
			<img src="{{STATIC_PREFIX}}img/home/pastorernst.jpg">
			<h3>Pastor Ernst Joseph</h3>
			<p class="subtext">Church of the Final Hour</p>

			<div class="featured-content">
				<p>Pastor Ernst Joseph leads a congregation of approximately 1,000 worshippers each week at L’Eglise de la Derniere Heure in Carrefour, Haiti. See how God is working in his church</p>
			</div>
		</div>
		<div class="featured-link-wrapper">
			<a class="btn-link" href="/blog/2010/09/11/ernst-joseph/">Read more</a>
		</div>
	</aside>

	<aside class="featured-box shadow">
		<div class="constrain">
			<img src="{{STATIC_PREFIX}}img/home/featured-3.jpg">
			<h3>Photos, Videos &amp; More</h3>
			<p class="subtext">Featured Media</p>
			
			<div class="featured-content">
				<ul class="square">
					<li>Video: <a target="_blank" href="http://www.youtube.com/watch?v=m6MFtTcpS68&feature=player_embedded">Interview with Pastor Yoshi Ohari</a></li>
					<li>Photos: <a target="_blank" href="http://www.flickr.com/photos/churcheshelpingchurches/">CHP Miyagi, February 2012</a></li>
				</ul>
			</div>
		</div>
		<div class="featured-link-wrapper">
			<a class="btn-link" href="{% url media %}">View more</a>
		</div>
	</aside>
</section>
{% endblock %}