h2 { font-size: 35px; }
h3 { font-size: 24px; margin: 24px 0 12px; }

img { border: 1px solid #ccc; }

.shadow { padding: 20px; }

ol { list-style-type: decimal; margin-left: 28px; }
ol li { font-size: 18px; color: #898518; }

ol ol { margin-left: 35px; list-style-type: lower-latin; }
ol ol li { color: #000; font-size: 14px; line-height: 35px; }

ol ol ol { list-style-type: lower-roman; }
ol ol ol li { color: #737373; line-height: 20px; margin: 0 0 -3px; }

table { color: #737373; line-height: 20px; margin: 5px 0 15px 22px; }
table thead { background-color: #eee; }
table th { font-weight: normal; }
table tr:first-child { border-top: 1px solid #ccc; }
table tr { border-bottom: 1px solid #ccc; }
