h2 { font-size: 35px; }
h3 { font-size: 24px; margin: 44px 0 12px; }

img { border: 1px solid #ccc; }

.shadow { padding: 20px 20px 20px 40px; }

ol { list-style: none; margin-left: 28px; }
ol li { font-size: 14px; color: #000; margin-top: 10px; }
.toplevel { padding-left: 30px; margin-left: -50px; background: url("/static/img/what-we-do/toggle-icon.png") no-repeat scroll 3px 6px transparent; }
.toggle { color: #898518; font-size: 18px; }
.collapsed { background-position: 3px -34px; }

ol ol { margin-left: 10px; list-style: none; }
ol ol li { color: #000; font-size: 14px; line-height: 20px; margin: 8px 0; }

ol ol ol { list-style: disc; margin-left: 40px; }
ol ol ol li { color: #737373; line-height: 20px; margin: 5px 0 -3px; }

i { color: #737373; }

table { color: #737373; line-height: 20px; margin: 5px 0 0 30px; }
table thead { background-color: #eee; }
table th { font-weight: normal; text-align: left; }
table tr:first-child { border-top: 1px solid #ccc; }
table tr { border-bottom: 1px solid #ccc; }
table td a { display: block; padding: 0; height: 100%; }
table td a:hover { color: #898518; }
table tr.hover { background-color: #eee; }

a[href="#top"] { float: right; font-size: 16px; margin-top: 10px; }
