#pastors { background: url("/static/img/what-we-do/pastors.jpg") no-repeat left bottom; }
#reconstruction { background: url("/static/img/what-we-do/reconstruction.jpg") no-repeat left bottom; }
#recovery { background: url("/static/img/what-we-do/recovery.jpg") no-repeat left bottom; }
#opportunity { background: url("/static/img/what-we-do/opportunity.jpg") no-repeat left bottom; }

#flag { margin-top: 34px; padding: 20px; }
#flag h4 { margin-bottom: 20px; font-size: 18px; }
#flag ul li { float: left; margin-right: 10px; }
#flag img { border: 1px solid #ccc; }

/* =============================================================================
   Override slider.css
   ========================================================================== */

/*
 * The default height of each panel is 400px. If there is a panel(s) that has lots of content
 * then the height for all of them should be made to match (ex. 2135px). This ensures that
 * the display still looks decent with JS turned off
 */

#slider .scroll { height: 530px; }
#slider .scrollContainer .panel > div { height: 490px; }