article { margin-top: 60px; margin-bottom: 16px; }
article > div { float: left; }

article div.left { width: 366px; }
article h3 { text-align: center; font-size: 35px; line-height: 47px; margin-top: 47px; }
article div.left a { display: block; height: 109px; width: 299px; background: url(/static/img/home/join-us-btn.png) no-repeat 0 0; margin: 50px auto 0;}
article div.left a:hover { background-position: 0 -109px; }

article div.right { padding-bottom: 71px; background: url(/static/img/home/youtube-reflect.png) no-repeat left bottom; }
article div.right iframe { border: 8px solid #f2f2f2; }


.featured-box { width: 285px; height: 328px; position: relative; float: left; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); margin: 0 13px; }