hgroup { margin-bottom: 30px; }
h2, h3 { text-align: center; }
h3 { font-size: 35px; }

article { width: 436px; padding: 15px; float: left; margin-right: 16px; }
article.last { margin: 0; }
article h3 { font-size: 24px; }
article .youtube { height: 306px; background: url(/static/img/join/youtube-reflect.png) no-repeat bottom left; margin-top: 10px; }
article p { text-align: center; font-size: 16px; margin-top: 15px; }

#moreways h2 { text-align: left; font-size: 24px; margin: 36px 0 10px; }
#moreways article { width: 216px; margin: 0; border-right: 1px solid #ebebeb; padding: 10px; height: 150px; cursor: pointer; }
#moreways article:last-child { border: none; width: 219px; }
#moreways article:hover {
	background: #f4f4f4;
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(0.7, #fff));
 	background-image: -moz-linear-gradient(center top, #eee 0%, #fff 70%);
 }
#moreways img { border: 1px solid #c2c7c8; }
#moreways h3 { text-align: left; font-size: 16px; font-family: "Lucida Sans Unicode"; margin-top: 8px; }
#moreways p { font-size: 12px; margin-top: 5px; text-align: left; }

.evenmore { float: left; width: 260px; height: 155px; padding: 15px 15px 15px 20px; margin-right: 32px; margin-top: 34px; }
.evenmore:last-child { margin-right: 0; }