strong { color: #000; font-size: 16px; font-weight: normal; }
#slider .small li p { color: #737373; font-size: 12px; line-height: 18px; padding-bottom: 18px; margin: 0; }
.half { float: left; margin-right: 15px; width: 423px; }
.left { float: left; width: 172px; }
.right { float: left; width: 242px; }
#slider p.gray { color: #737373; }

#staff img { float: left; clear: left; margin-bottom: 15px;}
#staff.panel p { float: left; width: 760px; margin: 0 0 20px 20px; font-size: 14px; }
#staff .person { font-weight: bold; display: block; margin-bottom: 5px; font-size: 16px; }

/* =============================================================================
   Override slider.css
   ========================================================================== */

/*
 * Adjust width of navigation links depending on how many elements there are
 */

#slider .navigation a { width: 168px; }

/*
 * The default height of each panel is 400px. If there is a panel(s) that has lots of content
 * then the height for all of them should be made to match (ex. 2135px). This ensures that
 * the display still looks decent with JS turned off
 */

#slider .scrollContainer .panel { height: 2325px; }