{% extends 'base.html' %}
{% load static %}

{% block title %}Churches Helping Churches - Give{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/what-we-do/projects.css">
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/libs/jquery.scrollTo-1.4.2-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.localscroll-1.2.7-min.js"></script>
<script src="{{ STATIC_URL }}js/projects.js"></script>
{% endblock %}

{% block nav-what-we-do %}<a class="active" href="{% url what-we-do %}">What We Do</a>{% endblock %}

{% block content %}
<h2 id="top">View Projects By Country:</h2>
<p class="clearfix">
    <a href="#haiti"><img src="{{ STATIC_URL }}img/what-we-do/haiti.png" alt="Haiti"></a>
    <a href="#japan"><img src="{{ STATIC_URL }}img/what-we-do/japan.png" alt="Japan"></a>
</p>


<h3 id="haiti">Haiti List of Projects:</h3>

<div class="shadow">

<ol>
    <li>
        <span class="toplevel"><span class="toggle">Churches Helping Pastors</span> (<a href="/blog/tag/HA01">read stories</a>)</span>
        <ol>
            <li>
                <a href="/blog/tag/chp1/">1160 pastors trained in grief counseling.</a>
                <ol>
                    <li><a href="/blog/tag/ha01-1">Port au Prince (Bolosse)</a></li>
                    <li><a href="/blog/2010/09/08/churches-helping-pastors-leogane-haiti">L&eacute;og&acirc;ne</a></li>
                    <li>Port de Paix</li>
                    <li>La Gonave</li>
                    <li>Lascahobas</li>
                    <li>Tabarre (with MAIS)</li>
                    <li><a href="/blog/2010/08/09/calvary-chapel-chc-host-pastors-retreat-in-southern-haiti">Jacmel (with CCHI)</a></li> 
                    <li>Gonaives</li>
                    <li>Petit-Go&acirc;ve</li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        <span class="toplevel"><span class="toggle">Church Construction</span> (<a href="/blog/tag/HA02">read stories</a>)</span>
        <ol>
            <li><a href="/blog/2010/12/11/the-match-challenge-and-how-we-are-and-arent-giving-away-money-in-haiti/">Match Multiple Challenge</a></li>
            <li>
                <a href="/blog/2011/05/24/haiti-bound/">19 transitional structures</a>
                <table width="770" cellspacing="0" cellpadding="1">
                    <tbody>
                        <tr>
                            <td>Brice Jean Monoeil</td>
                            <td>Eglise de Dieu en Christ</td>
                            <td>Lilavois</td>
                        </tr>
                        <tr>
                            <td>Claude D. Jacquet</td>
                            <td>Eglise Baptiste du Cote Brillant</td>
                            <td>Fontamara</td>
                        </tr>                            
                        <tr>
                            <td>Dieucin Marcelin</td>
                            <td>Eglise Baptiste Stricte le Tabernacle de Jacmel</td>
                            <td>Jacmel</td>
                        </tr>
                        <tr>
                            <td>Deronvil Doucette</td>
                            <td>Eglise Wesleyenne </td>
                            <td>Carrefour-Feuille</td>
                        </tr>
                        <tr>
                            <td>Dirogene Pierre</td>
                            <td>Eglise Evangelique Baptiste de Delmas 19</td>
                            <td>Delmas</td>
                        </tr>
                        <tr>
                            <td><a href="/blog/?s=%22Church+of+the+Final+Hour%22&submit=Search">Ernst Joseph</a></td>
                            <td><a href="/blog/?s=%22Church+of+the+Final+Hour%22&submit=Search">Eglise de Dieu Mission Evangelique de la Derniere Heure</a></td>
                            <td><a href="/blog/?s=%22Church+of+the+Final+Hour%22&submit=Search">Carrefour</a></td>
                        </tr>
                        <tr>
                            <td>Ernst Leroy</td>
                            <td>Eglise Alliance Chr&eacute;tienne  Independante </td>
                            <td>Leogane</td>
                        </tr>
                        <tr>
                            <td>Fanier Justima</td>
                            <td>Eglise Baptiste Evangelique Morija</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Henry Marc Francois</td>
                            <td>Eglise Evangelique de la Grace (Tabernacle I)</td>
                            <td>Grand-Goave</td>
                        </tr>
                        <tr>
                            <td>Jaccilien Dorcilus</td>
                            <td>Eglise de Dieu de Carrefour Vert</td>
                            <td>Leogane</td>
                        </tr>
                        <tr>
                            <td>Jean Henri Milien</td>
                            <td>Eglise Lumiere de Leogane</td>
                            <td>Leogane</td>
                        </tr>
                        <tr>
                            <td>Jean Menes Valme</td>
                            <td>Eglise du Redempteur</td>
                            <td>Carrefour Feuille</td>
                        </tr>
                        <tr>
                            <td>Jean St. Cyr</td>
                            <td>Eglise Compassion du Christ</td>
                            <td>Petionville</td>
                        </tr>
                        <tr>
                            <td>Jules Fritzner Devil</td>
                            <td>Eglise  Apostolique Bon Berger de Dufort</td>
                            <td>Dufort/Leogane</td>
                        </tr>
                        <tr>
                            <td>Kelly Joseph</td>
                            <td>Eglise Evangelique de l'Arahaie</td>
                            <td>Arcahaie</td>
                        </tr>
                        <tr>
                            <td>Louigens Jean</td>
                            <td>Eglise Baptiste de Meyotte</td>
                            <td>Mayotte-Peguy-Ville</td>
                        </tr>
                        <tr>
                            <td>Mathurin Menard</td>
                            <td>Eglise Wesleyenne de Leogane</td>
                            <td>Leogane</td>
                        </tr>
                        <tr>
                            <td>Vijonet Demero</td>
                            <td>Eglise de la Bonne Nouvelle</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Wilsor Etienne</td>
                            <td>Eglise Wesleyenne de Port au Princeette</td>
                            <td>Grand-Goave</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>36 temporary structures donated.</li>
            <li>
                40 structural repairs:
                <table width="770" cellspacing="0" cellpadding="1">
                    <tbody>
                        <tr>
                            <td>Alfred Marcellus</td>
                            <td>Eglise Baptiste Bethel de Duval-Roche</td>
                            <td>Croix des Bouquets</td>
                        </tr>
                        <tr>
                            <td>Anthony Poteau</td>
                            <td>Eglise de Dieu en Christ de Fond Brache</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Arsene Nicolas</td>
                            <td>Eglise Baptiste Evangelique de Petionville</td>
                            <td>Petionville</td>
                        </tr>
                        <tr>
                            <td>Chery Volcy</td>
                            <td>Eglise Vision Céleste de Dieu de Delmas 4</td>
                            <td>Delmas</td>
                        </tr>
                        <tr>
                            <td>Clerzius Liberus</td>
                            <td>Eglise Evangelique le Rocher D&rsquo;Horeb - Delmas 33</td>
                            <td>Delmas</td>
                        </tr>
                        <tr>
                            <td>Daleus Hector</td>
                            <td>Eglise Baptiste Eben-Ezer de Jacmel</td>
                            <td>Jacmel</td>
                        </tr>
                        <tr>
                            <td>Ducange Apoleon</td>
                            <td>Eglise de Dieu en Christ de Pont Rouge</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Elucien Berthony</td>
                            <td>Eglise la Foi Apostolique de la rue Tiremasse</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Falaise Jean Wilson</td>
                            <td>Eglise Baptiste Evangelique Eben-Ezer </td>
                            <td>Croix de Bouquets</td>
                        </tr>
                        <tr>
                            <td>Garnel Joseph</td>
                            <td>Eglise Baptiste Philadephie (Convention Baptiste d'Haiti)</td>
                            <td>Petit-Goave</td>
                        </tr>
                        <tr>
                            <td>Gerome Bejulan </td>
                            <td>First Christian Church of Haiti</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Oberd Tilus</td>
                            <td>Assembl&eacute;e  chr&eacute;tienne par la Foi de Petit Go&acirc;ve</td>
                            <td>Petit-Goave</td>
                        </tr>
                        <tr>
                            <td>Guillaume Cangas</td>
                            <td>Eglise de Dieu en Christ de Nazon</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Italis Paul</td>
                            <td>Eglise Baptiste de Corail</td>
                            <td>Corail</td>
                        </tr>
                        <tr>
                            <td>Jean Samson Mettelus</td>
                            <td>Eglise Baptiste Bethesda de Musambe</td>
                            <td>Grand Goave</td>
                        </tr>
                        <tr>
                            <td>Jerome Bossiere</td>
                            <td>Eglise de Dieu en Christ de Boutilliers #1</td>
                            <td>Boutilliers</td>
                        </tr>
                        <tr>
                            <td>Johny Philippe</td>
                            <td>Eglise Baptiste Bethel de Merger-Sibert</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Louis Charles Alidieu</td>
                            <td>Eglise Pelerin de Galilee de Belamy</td>
                            <td>Bainet</td>
                        </tr>
                        <tr>
                            <td>Louis Pierre Richard</td>
                            <td>Eglise Evanelique Baptiste du Calvaire</td>
                            <td>Jacmel</td>
                        </tr>
                        <tr>
                            <td>Lucien Antoine</td>
                            <td>Eglise de Nazareen - La Gonave</td>
                            <td>La Gonave</td>
                        </tr>
                        <tr>
                            <td>Lucon Chery</td>
                            <td>Eglise de Dieu Nouvelle Vision  de Freres</td>
                            <td>Pernier</td>
                        </tr>
                        <tr>
                            <td>Luner Etienne</td>
                            <td>Eglise Methodiste Libre de Saintard</td>
                            <td>Arcahaie</td>
                        </tr>
                        <tr>
                            <td>Merisier Saintobert</td>
                            <td>Baptiste Bethel de Castera</td>
                            <td>Gonaives</td>
                        </tr>
                        <tr>
                            <td>Michelet Guy Adescar</td>
                            <td>Eglise Bon Berger de Cayes Jacmel</td>
                            <td>Cayes-Jacmel</td>
                        </tr>
                        <tr>
                            <td>Remy Michel</td>
                            <td>Bethesda Eglise Baptiste de Ave Pouplard</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Renes Deciere</td>
                            <td>Eglise Baptiste Village AFCA de Delmas 33</td>
                            <td>Delmas</td>
                        </tr>
                        <tr>
                            <td>Tullus Semira</td>
                            <td>Assemblee  Baptiste Evangelique de Delmas</td>
                            <td>Delmas</td>
                        </tr>
                        <tr>
                            <td>Ulrick Cebea</td>
                            <td>Eglise de Dieu en Christ </td>
                            <td>Croix des Bouquets</td>
                        </tr>
                        <tr>
                            <td>Valdes Napoleon</td>
                            <td>Maison privee</td>
                            <td>Leogane</td>
                        </tr>
                        <tr>
                            <td>Vezel Philistin</td>
                            <td>Eglise Evangelique Baptiste Espoir </td>
                            <td>Place Cazeau</td>
                        </tr>
                        <tr>
                            <td>Wilner Valville</td>
                            <td>Eglise Baptiste Elim du Fontamara</td>
                            <td>Port au Prince</td>
                        </tr>
                        <tr>
                            <td>Wisler Jean Baptiste</td>
                            <td>Eglise Bon  Samaritain de Sibert</td>
                            <td>Port au Prince</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ol>
    </li>
    <li>
        <span class="toplevel"><span class="toggle">As We Have Opportunity</span> (<a href="/blog/tag/HA04">read stories</a>)</span>
        <ol>
            <li><a href="/blog/2011/05/26/a-year-in-review/">Trauma counseling kits.</a></li>
            <li><a href="/blog/2011/05/26/a-year-in-review/">Solar-powered audio Bibles.</a></li>
            <li><a href="/blog/2010/10/25/chc-and-the-haiti-cholera-outbreak/">$1.7 million in medical aid.</a></li>
            <li>
                <a href="/blog/tag/ha01-scholarship/">Memorial seminary scholarship.</a>
            </li>
            <li>
                <a href="/blog/2010/10/19/this-is-global-fellowship-the-first-engage-partnership/">Church-to-church partnerships</a>
            </li>
            <li>
                <a href="/blog/2010/09/14/your-prayers-broadcast-over-haitian-radio/">"Prayers for Haiti" radio broadcast.</a>
            <li>
                <a href="/blog/tag/rally">January 12th Memorial Event</a>
            </li>
        </ol>
    </li>
</ol>

</div>
<a href="#top">Back to Top</a>

<h3 id="japan">Japan List of Projects:</h3>

<div class="shadow">

<ol>
    <li>
        <span class="toplevel"><span class="toggle">Churches Helping Pastors</span> (<a href="/blog/tag/JA01/">read stories</a>)</span>
        <ol>
            <li>
                <ol>
                    <li><a href="/blog/2011/06/16/sendai-day-one/">Sendai – June 2011</a></li>
                    <li><a href="/blog/2011/07/13/listening-and-learning/">Iwate – June 2011</a></li>
                    <li><a href="/blog/2011/10/06/a-ministry-of-presence/">Sendai – September 2011</a></li>
                    <li><a href="/blog/2011/12/08/a-ministry-of-counseling/">Sendai – December 2011</a></li>
                </ol>
            </li>
            <li><a href="/blog/2011/06/19/the-power-of-prayer/">Personalized prayer books from churches in the CHC network.</a></li>
        </ol>
    </li>
    <li>
        <span class="toplevel"><span class="toggle">Church Construction</span> (<a href="/blog/tag/CC1/">read stories</a>)</span>
        <ol>
            <li>
                <a href="/blog/tag/CC1/">Church Relief Grants</a><br>
                <i>*Due to cultural sensitivities, we have left specific churches' names<a href="/blog/2011/06/30/intentionally-anonymous"> intentionally anonymous.</a></i>
            </li>
        </ol>
    </li>
    <li>
        <span class="toplevel"><span class="toggle">Resource Recovery</span> (<a href="/blog/2011/04/07/beginning-our-ministry-to-japan/">read stories</a>)</span>
        <ol>
            <li>Housing for homeless pastors.</li>
            <li>Monthly support for financially distressed ministries.</li>
            <li>Replacement lost or damaged ministry goods.<br>
                <i>*Due to cultural sensitivities, we have left specific pastors' names<a href="/blog/2011/06/30/intentionally-anonymous"> intentionally anonymous.</a></i>
            </li>
        </ol>
    </li>
</ol>

</div>
<a href="#top">Back to Top</a>

{% endblock %}