{% extends 'base.html' %}
{% load static %}

{% block title %}Churches Helping Churches - Join{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/join.css">
{% endblock %}

{% block extra_js %}
<script src="{% get_static_prefix %}js/libs/jquery.validate.js"></script>
<script src="{% get_static_prefix %}js/join.js"></script>
{% endblock %}

{% block nav-join %}<strong>Join</strong>{% endblock %}

{% block content %}
{% get_static_prefix as STATIC_PREFIX %}
<section id="signup" class="clearfix">
	<hgroup>
		<h2>Sign Up</h2>
		<h3>Everything you need to know...</h3>
	</hgroup>

	<article class="shadow">
		<h3>For Pastors</h3>
		<div class="youtube">
			<iframe width="420" height="235" src="http://www.youtube.com/embed/a9MoMj8x94s?rel=0&modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<a class="btn-link big" href="{% url join.signup %}">Sign up now</a>
		<p>Info Kit: <a href="">Download</a> or <a href="">Send Me One</a></p>
	</article>
	
	<article class="shadow">
		<h3>For Individuals</h3>
		<div class="youtube">
			<iframe width="420" height="235" src="http://www.youtube.com/embed/a9MoMj8x94s?rel=0&modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<a class="btn-link big" href="{% url join.signup %}">Sign up now</a>
		<p>Info Kit: <a href="">Download</a> or <a href="">Send Me One</a></p>
	</article>
</section>

<section id="moreways">
	<h2>More Ways To Get Involved</h2>
	<div id="bar" class="shadow clearfix">
		<article>
			<img src="{{STATIC_PREFIX}}img/join/pray-online.jpg">
			<h3><a href="{% url join.pray %}">Pray Online</a></h3>
			<p>Write your prayer on our global map of prayers for churches in crisis.</p>
		</article>
		<article>
			<img src="{{STATIC_PREFIX}}img/join/prayer-book.jpg">
			<h3><a href="{% url join.sendprayer %}">Send Prayer Book</a></h3>
			<p>Create a custom prayer book to encourage a pastor. </p>
		</article>
		<article>
			<img src="{{STATIC_PREFIX}}img/join/chc-live.jpg">
			<h3><a href="{% url join.chclive %}">Experience CHC Live</a></h3>
			<p>Invite CHC to your church for a presentation that will challenge the community of believers.</p>
		</article>
		<article>
			<img src="{{STATIC_PREFIX}}img/join/partner-church.jpg">
			<h3><a href="{% url join.partner %}">Partner with a Church</a></h3>
			<p>For churches who want to go deeper, enter in a long-term relationship with a church in crisis.</p>
		</article>
	</div>

	<article class="evenmore shadow">
		<hgroup>
			<h3>Volunteer</h3>
			<h4>Want to join the CHC team?</h4>
		</hgroup>
		<p>Volunteer opportunities are currently available for:</p>
		<ul class="square">
			<li>Professional Photography/Videography</li>
		</ul>
		<p>
			Please contact:<br>
			<a href="mailto:dshin@churcheshelpingchurches.com">dshin@churcheshelpingchurches.com</a>
		</p>
	</article>
	<article class="evenmore shadow">
		<h3>Spread the News</h3>
		<ul class="spread">
			<li><a class="fb" title="Facebook" href="https://www.facebook.com/ChurchesHelpingChurches" target="_blank">Like Us</a></li>
			<li><a class="twitter" title="Twitter" href="http://twitter.com/churcheshelping" target="_blank">Follow Us</a></li>
			<li><a class="download" href="">Download CHC Media</a></li>
		</ul>
	</article>
	<article class="evenmore shadow">
		<h3>Stay Connected</h3>
		<ul class="connect">
			<li class="RSS"><a href="">Subscribe to RSS feed</a></li>
			<li class="updates">
				<form id="subscribe" action="{% url join.subscribe %}" method="post">
					{% csrf_token %}
					<label for="email">Receive Updates</label><br>
					<input type="text" id="email" name="email" placeholder="Email Address"></input>
					<input type="submit" value="Send" class="btn-link"></input>
					<span id="subscribe_error"></span>
				</form>
			</li>
		</ul>

	</article>
</section>



{% endblock %}