{% extends 'base.html' %}
{% load static %}

{% block title %}Churches Helping Churches - Sign Up{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/join/signup.css">
{% endblock %}

{% block nav-join %}<a class="active" href="{% url join %}">Join</a>{% endblock %}

{% block content %}
{% get_static_prefix as STATIC_PREFIX %}
<h2>Sign Up</h2>

{% if error_msgs %}
<ul class="error">
	{% for err in error_msgs %}
	<li>{{ err }}</li>
	{% endfor %}
</ul>
{% endif %}

<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}

	<h3>Please fill out your information.</h3>
	<span class="highlight">* indicates required field</span>
	<div class="clearfix">
		<div class="fieldWrapper lcol">
			<label for="id_fname">First Name <span class="highlight">*</span></label>
			{{ form.fname }}
			{{ form.fname.errors }}
		</div>
		<div class="fieldWrapper rcol">
			<label for="id_lname">Last Name <span class="highlight">*</span></label>
			{{ form.lname }}
			{{ form.lname.errors }}
		</div>
	</div>
	<div class="fieldWrapper">
		{{ form.city.label_tag }}
		{{ form.city }}
		{{ form.city.errors }}
	</div>
	<div class="clearfix">
		<div class="fieldWrapper state lcol">
			{{ form.state.label_tag }}
			{{ form.state }}
			{{ form.state.errors }}
		</div>
		<div class="fieldWrapper country rcol">
			{{ form.country.label_tag }}
			{{ form.country }}
			{{ form.country.errors }}
		</div>
	</div>
	<div class="clearfix">
		<div class="fieldWrapper email lcol">
			<label for="id_email">Email Address <span class="highlight">*</span></label>
			{{ form.email }}
			{{ form.email.errors }}
		</div>
		<div class="fieldWrapper phone rcol">
			{{ form.phone.label_tag }}
			{{ form.phone }}
			{{ form.phone.errors }}
		</div>
	</div>
	<div class="fieldWrapper">
		{{ form.church_name.label_tag }}
		{{ form.church_name }}
		{{ form.church_name.errors }}
	</div>
	<div class="fieldWrapper checkbox">
		{{ form.is_pastor }} {{ form.is_pastor.label_tag }}
		{{ form.is_pastor.errors }}
	</div>
	<div class="fieldWrapper">
		{{ form.church_website.label_tag }}
		{{ form.church_website }}
		{{ form.church_website.errors }}
	</div>

	<h3 class="second">Please select one or more of the following responses:</h3>
	<div class="fieldWrapper checkbox">
		{{ form.take_offering }} {{ form.take_offering.label_tag }}
		{{ form.take_offering.errors }}
	</div>
	<div class="fieldWrapper checkbox">
		{{ form.contact_me }} {{ form.contact_me.label_tag }}
		{{ form.contact_me.errors }}
	</div>
	<div class="fieldWrapper checkbox">
		{{ form.receive_updates }} {{ form.receive_updates.label_tag }}
		{{ form.receive_updates.errors }}
	</div>
    <p><input type="submit" class="btn-link" value="Sign Up" /></p>
</form>

{% endblock %}