{% extends 'base.html' %}
{% load static %}

{% block title %}Churches Helping Churches - Thank You{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/join/thankyou.css">
{% endblock %}

{% block nav-join %}<a class="active" href="{% url join %}">Join</a>{% endblock %}

{% block content %}
{% get_static_prefix as STATIC_PREFIX %}
<article>
	<h2>Thank you<br>for joining Churches Helping Churches!</h2>

	{% if is_duplicate %}
	<p class="main warn">
		It looks like {{ email }} has already been subscribed to our list!
		{% if mailchimp_link %}
		Update your account info and preferences by <a target="_blank" href="{{ mailchimp_link }}">clicking here</a>.
		{% endif %}
	</p>
	{% endif %}

	<p class="main">As a global fellowship of churches, we are committed to taking up a one-time offering at the next crisis we engage to help the churches in that area.  Please continue to stay connected by receiving our e-mail newsletter or visit our <a href="/blog">blog</a> for updates.</p>

	<p class="main">For other ways to get involved, please see the following options.</p>

	<aside class="shadow">
		<h3>Ways to Get Involved</h3>
		<ul class="get-involved">
			<li><a href="{% url give %}" class="btn-link">Give</a></li>
			<li><a href="{% url join.chclive %}" class="btn-link">Experience CHC Live</a></li>
			<li><a href="{% url join.partner %}" class="btn-link">Partner with a Church</a></li>
			<li><a href="{% url join.sendprayer %}" class="btn-link">Send Prayer Book</a></li>
			<li><a href="{% url join.pray %}" class="btn-link">Pray Online</a></li>
		</ul>
	</aside>
	<aside class="shadow">
		<hgroup>
			<h3>Volunteer</h3>
			<h4>Want to join the CHC team?</h4>
		</hgroup>
		<p>Volunteer opportunities are currently available for:</p>
		<ul class="square">
			<li>Professional Photography/Videography</li>
		</ul>
		<p>
			Please contact:<br>
			<a href="mailto:dshin@churcheshelpingchurches.com">dshin@churcheshelpingchurches.com</a>
		</p>
	</aside>
	<aside class="shadow">
		<h3>Spread the News</h3>
		<ul class="spread">
			<li><a class="fb" title="Facebook" href="https://www.facebook.com/ChurchesHelpingChurches" target="_blank">Like Us</a></li>
			<li><a class="twitter" title="Twitter" href="http://twitter.com/churcheshelping" target="_blank">Follow Us</a></li>
			<li><a class="download" href="">Download CHC Media</a></li>
		</ul>
	</aside>

</article>
{% endblock %}